body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-image: url('sakura2.jpg');
            background-size: cover;
            background-position: unset;
            background-repeat: no-repeat;
        }

        header {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 10px;
        }

        nav ul {
            list-style: none;
            padding: 0;
            margin: 0;
            background-color: #444;
            overflow: hidden;
        }

        nav ul li {
            float: top;
        }

        nav ul li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        nav ul li a:hover {
            background-color: #111;
        }

        div#h2{
            position: absolute;
            left: 88%;
            top:30%;
        }

        h2 {
            color: white;
        }

        div#table{
            position: absolute;
            left: 81%;
            top: 33%;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
            background-color: black;
            border-radius: 20px;
        }

        th, td {
            color: white;
            padding: 8px;
            text-align: center;
        }

        div#tark{
            position: absolute;
            top: 33%;
            left: 40%;
            margin-top: 20px;
            border: 1px solid black;
            border-radius: 20px;
            background-color: black;
            color: white;
            width: 20%;
            text-align: center;
        }
        div#h22{
            position: absolute;
            left: 42.5%;
            top:30%;
        }
        div#info{
            position: absolute;
            left: 1%;
            width: 95%;
            color: white;
        }
